*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    display: flex;
    gap: 50px;
    padding: 60px;
    border: 1px solid black;

}
h1{
    font-family: Verdana;

}

.oncle{
    background-image: url(img/lucette.jpeg);
    height: 400px;
    background-size: cover;
    text-align: center;
    
}
.frere{
    padding: 150px;
    color: white;

}
h2{
    font-size: 80px;
}
h4{
    padding: 30px;
}
.bloc1{
    display: flex;
    justify-content: center;
}
    
.premier{
    background-image: url(img/ce79eed6-f8f9-4f43-87a2-5b2885b13522.jpeg);
    width: 1200px;
    height: 400px;
    background-size: cover;
    text-align: center;
}
.bloc4{
    display: flex;
    gap: 80px;
    padding: 30px;

}
.deuxieme{
    text-align: left;
}
